.input{
    align-items: stretch;
    width: 298.67px;
    height: 46px;
    margin: 12px;
    background-color: #0F1419;
    color: white;
    border: 0.01em solid rgb(184, 175, 175);
    font-size: 16px;
}
.input:focus{
    outline: none;
    border: 1.5px solid #2394e0 ;
}