.mainComponent{
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 43px;
}
.container{
    background-color:  #2e3033;
    border-radius: 20px;
    padding: 5px;
    padding-left: 10px;
}
.Icon{
    font-size: 30px;
    color: white;
}
.FollowName{
    font-size: 20px;
    font-weight: bold;
    line-height: 30px;
    padding: 0px;
}
.Text{
    display: flex;
}
.Section {
    font-size: 18px;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap:5px;
    letter-spacing: 1px;
}
.Badge{
    color: #2394e0;
}