.container{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.searchButton{
    align-items: stretch;
    width: 500px;
    height: 60px;
    margin: 12px;
    background-color: white;
    color: black;
    border: 0 solid black;
    font-size: 16px;
    background-color: white;
    padding-left: 5px;
    margin-left:5px ;
    letter-spacing: 1px;
    margin-top: 10px;    
}
.searchButton:focus{
    outline: none;
}

.Icon{
    font-size: 38px;
    padding: 0px;
    margin: 0px;
    color: black;
    padding-left: 0.5rem;
}
.bottom{
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    align-items: center;
    gap: 20px;
    color: #2394e0;
    margin-top: 0px;
    padding-top: 0px;
    margin-left: 45px;
    font-size: 20px;
}
.tweetButton{
    padding: 0px  ;
    margin:0px ;
}
.Button{
    width: 90px;
    height: 40px;
    cursor: pointer;
    font-family: "Google Sans",arial,sans-serif;
    font-size: 15px;
    border: 0 solid black;
    border-radius: 30px;
    background-color: #2394e0;
    color: white;
    font-weight: bold;
    margin-left: 150px ;
    margin-bottom: 2rem;
}
.fileUpload{
    display: none;
}